{% extends "base.html" %}

{% block title %} USUARIOS {% endblock %}

{% block content %}

<h1>Lista de Usuarios</h1>
<a class="btn btn-success mb-3" href="{{url_for('usuario.create')}}" style=" background-color:rgb(158, 139, 80); color: white; border: none;">Nuevo</a>
<table class="table table-striped">
<tr>
<th>ID</th>
<th>Nombre</th>
<th>Usuario</th>
<th>Telefono</th>
<th>Direccion</th>
<th>Matricula</th>
<th>Especialidad</th>
<th>Rol</th>
<th>Estado</th>
<th>Activo</th>
<th></th>
<th></th>
</tr>
    {% for item in usuarios%}
    <tr>
<td>{{item.id_usuario}}</td>
<td>{{item.nombre}}</td>
<td>{{item.usuario}}</td>
<td>{{item.telefono}}</td>
<td>{{item.direccion}}</td>
<td>{{item.matricula}}</td>
<td>{{item.especialidad.nombre_especialidad if item.especialidad}}</td>
<td>{{item.rol.nombre_rol if item.rol}}</td>
<td>{{item.estado_usuario.nombre_estado if item.estado_usuario}}</td>
<td>{{'Si' if item.activo else 'No'}}</td>
<td>
<a class="btn btn-warning" href="{{url_for('usuario.edit',id=item.id_usuario)}}" style=" background-color: #A47149; color: white; border: none;">Editar</a>
</td>
<td>
<a class="btn btn-danger" href="{{ url_for('usuario.delete', id_usuario=item.id_usuario) }}" style=" background-color:rgb(173, 141, 98); color: white; border: none;">Eliminar</a>
</td>
</tr>

    {% endfor%}
</table>

{% endblock %}
